## Proposal

#### Area of examination
Predict good/bad loans among high risk loans (grade in [E,F,G]). 

I have chosen to restrict my investigation to high risk loans due to: 
1. From the investor's perspective, loans deemed higher risk come with higher interest rates that are more attractive because they provide higher return on investment (ROI)
2. However, they pose risks of being not returned at all (defaulted)

#### Hypothesis/assumptions: 

#### Goals and success metrics:
1. Identify variables that increase/decrease risk of a bad loan 
2. Build a machine learning model that predicts default risk of a given high risk loan 

#### Risks/limitations: 
1. Imbalanced dataset 

### Data: 
[Here](https://www.kaggle.com/wordsforthewise/lending-club)

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
loans = pd.read_csv('accepted_2007_to_2018Q4.csv')

C:\Users\oroni\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
loans['loan_status_ind'] = loans['loan_status'].isin(['Current', 'Fully Paid', 'In Grace Period']).astype('int')

In [25]:
loans.groupby('grade').int_rate.mean()

grade
A     7.084545
B    10.675806
C    14.143689
D    18.143067
E    21.829653
F    25.454091
G    28.074255
Name: int_rate, dtype: float64

In [26]:
loans.groupby('grade').loan_status_ind.value_counts()

grade  loan_status_ind
A      1                  417060
       0                   15967
B      1                  604846
       0                   58711
C      1                  554737
       0                   95316
D      1                  256936
       0                   67488
E      1                   96494
       0                   39145
F      1                   26292
       0                   15508
G      1                    7139
       0                    5029
Name: loan_status_ind, dtype: int64