## Proposal

#### Area of examination
Predict good/bad loans among high risk loans (grade in [E,F,G]). 

I have chosen to restrict my investigation to high risk loans due to: 
1. From the investor's perspective, loans deemed higher risk come with higher interest rates that are more attractive because they provide higher return on investment (ROI)
2. However, they pose risks of being not returned at all (defaulted)

#### Hypothesis/assumptions: 

#### Goals and success metrics:
1. Identify variables that increase/decrease risk of a bad loan 
2. Build a machine learning model that predicts default risk of a given high risk loan 

#### Risks/limitations: 
1. Imbalanced dataset 

### Data: 
[Here](https://www.kaggle.com/wendykan/lending-club-loan-data/)

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
loans = pd.read_csv('loan.csv', parse_dates=['issue_d'], infer_datetime_format=True)
loans = loans[(loans.issue_d >= '2018-01-01 00:00:00') & (loans.issue_d < '2019-01-01 00:00:00')]
loans = loans.reset_index(drop=True)

In [23]:
loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
loans.shape

(495242, 145)

In [25]:
loans['loan_status_ind'] = loans['loan_status'].isin(['Current', 'Fully Paid', 'In Grace Period']).astype('int')

In [26]:
loans.groupby('grade').int_rate.mean()

grade
A     7.081353
B    10.918785
C    14.711079
D    19.489090
E    25.175089
F    29.482948
G    30.816751
Name: int_rate, dtype: float64

In [27]:
loans.groupby('grade').loan_status_ind.value_counts()

grade  loan_status_ind
A      1                  134108
       0                    1069
B      1                  138312
       0                    3053
C      1                  122184
       0                    4666
D      1                   64955
       0                    4091
E      1                   17512
       0                    1446
F      1                    2808
       0                     367
G      1                     580
       0                      91
Name: loan_status_ind, dtype: int64

In [28]:
loans.to_csv('loans.zip')